# File: docs/requirements.txt

# Defining the exact version will make sure things don't break
click>=7.0
sphinx==3.4.3
sphinx_rtd_theme==0.5.1
readthedocs-sphinx-search==0.1.0
lxml
nafigator
stanza
spacy
pandas
camelot-py[cv]==0.10.1
camelot-py[base]==0.10.1
pdftopng==0.2.3